.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
gralab_theme_15/public/node_modules
gralab_theme_15/public/dist
gralab_theme_15/public/js/vue
gralab_theme_15/public/js/frappe
gralab_theme_15/public/js/datavalue_theme.bundle.js
gralab_theme_15/public/js/datavalue_theme_web.bundle.js
__pycache__
